<footer class="footer_section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4 footer_col">
        <div class="footer_contact">
          <h4>Reach at..</h4>
          <div class="contact_link_box">
            <a href="https://www.google.com/maps/@27.0135,84.8747,16z?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span> Ghadiarwa-10, Birgunj </span>
            </a>
            <a href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span> 9815271537 </span>
            </a>
            <a href="https://mailto:surajsah132@gmail.com">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span> surajsah132@gmail.com </span>
            </a>
          </div>
        </div>
        <div class="footer_social">
          <a href="https://linkedin.com//in/sahkanu34">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
          <a href="https://mailto:surajsah132@gmail.com">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </a>
          <a href="https://github.com/sahkanu34">
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 footer_col">
        <div class="footer_detail">
          <h4>About</h4>
          <p>
            Join us in this vital mission—your donation can be the difference
            for someone in our community. Together, we can create a healthier
            tomorrow.<br>
            A Project made for the Humanitarian Purpose & saving lives.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-2 mx-auto footer_col">
        <div class="footer_link_box">
          <h4>Quick Links</h4>
          <div class="footer_links">
            <a class="active" href="{% url 'index' %}"> Home </a>
            <a class="" href="{% url 'aboutus' %}"> About </a>
            <a class="" href="{% url 'contactus' %}"> Contact Us </a>
            <a class="" href="{% url 'donor-list' %}"> Donor List </a>
            <a class="" href="{% url 'login' %}"> Login </a>
            <a class="" href="{% url 'donorsignup' %}"> Register </a>
            <a class="" href="{% url 'search-donor' %}"> Search Donors </a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-info">
      <p>
        &copy; <span id="displayYear"></span> Raktasetu
         all rights reserved to Suraj Sah Kanu
      </p>
<!--      <div align="center">-->
<!--        <p>The project made by Suraj Sah Kanu & Sunny Das Tharu-->
<!--        </p>-->
<!--      </div>-->
    </div>
  </div>
</footer>
